.env
storage/logs/*
storage/rate_limits/*
storage/piper/
storage/recordings/*
storage/transcripts/*
storage/uploads/*
vendor/
public/assets/vendor/*
!public/assets/vendor/livekit-client.umd.min.js
.idea/
.vscode/
*.log
